In [8]:
!pip install symspellpy
import os
import platform
import pkg_resources
import json
from symspellpy import SymSpell, Verbosity

Requirement already satisfied: symspellpy in /home/jon/miniconda3/envs/py37/lib/python3.7/site-packages (6.7.0)
Requirement already satisfied: numpy>=1.13.1 in /home/jon/miniconda3/envs/py37/lib/python3.7/site-packages (from symspellpy) (1.19.2)

In [2]:
sym_spell = SymSpell(max_dictionary_edit_distance=2, prefix_length=7)
dictionary_path = pkg_resources.resource_filename(
    "symspellpy", "frequency_dictionary_en_82_765.txt")
bigram_path = pkg_resources.resource_filename(
    "symspellpy", "frequency_bigramdictionary_en_243_342.txt")

sym_spell.load_dictionary(dictionary_path, term_index=0, count_index=1)
sym_spell.load_bigram_dictionary(bigram_path, term_index=0, count_index=2)

True

In [11]:
import pandas as pd
data = pd.read_json("datasets/yelp_review_training_dataset.jsonl", lines=True)
data

,review_id,text,stars
0,Q1sbwvVQXV2734tPgoKj4Q,Total bill for this horrible service? Over $8G...,1
1,GJXCdrto3ASJOqKeVWPi6Q,I *adore* Travis at the Hard Rock's new Kelly ...,5
2,2TzJjDVDEuAW6MR5Vuc1ug,I have to say that this office really has it t...,5
3,yi0R0Ugj_xUx_Nek0-_Qig,Went in for a lunch. Steak sandwich was delici...,5
4,11a8sVPMUFtaC7_ABRkmtw,Today was my second out of three sessions I ha...,1
...,...,...,...
533576,2vQO_kmSr6YPBrR8GH_FPA,Dr Young and her assistants take obvious pride...,5
533577,DUdLTGVpgsi0sv_g4A5ITQ,We started our 20 month of daughter here on an...,5
533578,AKGELpRNTTXajuZHbPxdJg,"First of all, they are supposed to open at 9:0...",2
533579,ghYZM7lqzjej05I_T3vYyA,It's not often that you visit a company and th...,5
533580,gupUBwWRb13IvQhlKd6wdg,We had great experience with quest limos this ...,5

In [ ]:
file = open('datasets/autocorrected_data.jsonl', 'w')

for i in range(10000):
    sentence = ""
    corrections = sym_spell.lookup_compound(data["text"][i], max_edit_distance=2, transfer_casing=False)
    for c in corrections:
        sentence += c.term
    
    json.dump({"review_id": data["review_id"][i],
               "text": sentence,
               "stars": str(data["stars"][i])}
              , file)
    
    file.write('\n')
file.close()